<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
   <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

   <system.web>
      <compilation xdt:Transform="RemoveAttributes(debug)" />
      <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
   </system.web>

   <system.serviceModel xdt:Transform="Replace">
      <services>
         <service name="Dcf.Kids.Reporting.Service.CrystalService">
            <host>
               <baseAddresses>
                  <add baseAddress="https://kidsreportingdev.wisconsin.gov"/>
               </baseAddresses>
            </host>
            <endpoint address="" binding="basicHttpsBinding" contract="Dcf.Kids.Reporting.Service.ICrystalService" bindingConfiguration="basicHttpsBinding_ICrystalService"/>
            <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>
         </service>
      </services>
      <bindings>
         <basicHttpsBinding>
            <binding name="basicHttpsBinding_ICrystalService">
               <security mode="Transport">
                  <transport clientCredentialType="Basic" />
               </security>
            </binding>
         </basicHttpsBinding>
      </bindings>
      <behaviors>
         <serviceBehaviors>
            <behavior>
               <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
               <serviceDebug includeExceptionDetailInFaults="true"/>
            </behavior>
         </serviceBehaviors>
      </behaviors>
      <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
   </system.serviceModel>

   <appSettings>
      <add key="DistributionLocationReports" value="E:\Inetpub\wwwroot\KidsReportingDev.wisconsin.gov\Distribution\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="LocalServiceLocation" value="E:\Inetpub\wwwroot\KidsReportingDev.wisconsin.gov\ServiceWorkingFolder\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="TemplateFileLocationReports" value="\\dcfint.wistate.us\Proc\KIDS\dev\KidsReporting\Templates\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
   </appSettings>

   <elmah>
      <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="\\dcfint.wistate.us\Proc\KIDS\dev\Logs\Service\KidsReporting" />
      <security allowRemoteAccess="true" />
   </elmah>
</configuration>