<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
   <db2Connection>
      <add name="db2Connection" providerName="IBM.Data.DB2" connectionString="__Application:KidsDb2Context:ConnString__" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
   </db2Connection>

   <configProtectedData>
      <providers>
         <add name="SecureProvider" SubjectName="__Application:ProtectedData:SecureProvider:SubjectName__" IssuerName="__Application:ProtectedData:SecureProvider:IssuerName__" StoreName="__Application:ProtectedData:SecureProvider:StoreName__" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      </providers>
   </configProtectedData>

   <db2SecurePassword configProtectionProvider="SecureProvider" xdt:Transform="Replace">
      <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
         <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
         <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
               <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
               <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                  <X509Data>
                     <X509Certificate>__Application:DB2SecurePassword:Key:X509Certificate__</X509Certificate>
                  </X509Data>
               </KeyInfo>
               <CipherData>
                  <CipherValue>__Application:DB2SecurePassword:Key:Cipher__</CipherValue>
               </CipherData>
            </EncryptedKey>
         </KeyInfo>
         <CipherData>
            <CipherValue>__Application:DB2SecurePassword:Cipher__</CipherValue>
         </CipherData>
      </EncryptedData>
   </db2SecurePassword>

   <system.web>
      <compilation xdt:Transform="RemoveAttributes(debug)" />
   </system.web>

   <system.serviceModel>
      <services>
         <service name="Dcf.Kids.Reporting.Service.CrystalService">
            <host>
               <baseAddresses xdt:Transform="Replace">
                  <add baseAddress="__Application:ServiceModel:ServiceBaseAddress__"/>
               </baseAddresses>
            </host>
            <endpoint address="" xdt:Transform="Remove" xdt:Locator="Match(address)"/>
            <endpoint address="mex" xdt:Transform="Remove" xdt:Locator="Match(address)"/>
            <endpoint address="" binding="basicHttpsBinding" contract="Dcf.Kids.Reporting.Service.ICrystalService" bindingConfiguration="basicHttpsBinding_ICrystalService" xdt:Transform="Insert" />
            <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" xdt:Transform="Insert"/>
         </service>
      </services>
      <bindings>
         <basicHttpBinding xdt:Transform="Remove" />
         <basicHttpsBinding xdt:Transform="Insert">
            <binding name="basicHttpsBinding_ICrystalService">
               <security mode="Transport">
                  <transport clientCredentialType="Basic" />
               </security>
            </binding>
         </basicHttpsBinding>
      </bindings>
   </system.serviceModel>

   <location path="elmah" xdt:Locator="Match(path)">
      <system.web>
         <authorization xdt:Transform="Remove" />
         <authorization xdt:Transform="Insert">
            <allow roles="__Application:Elmah:AuthorizationRoles__" xdt:Transform="SetAttributes(roles)"/>
            <deny users="*"/>
         </authorization>
      </system.web>
   </location>

   <elmah>
      <errorLog logPath="__Application:Elmah:LogPath__" xdt:Transform="SetAttributes(logPath)" />
   </elmah>

   <appSettings>
      <add key="DistributionLocationReports" value="__Application:DistributionLocationReports__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="LocalServiceLocation" value="__Application:LocalServiceLocation__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="TemplateFileLocationReports" value="__Application:TemplateFileLocationReports__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="DbOwnerPrefix" value="__Application:DbOwnerPrefix__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
   </appSettings>
</configuration>